@use "variables" as v;

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: v.$background-color;
    text-align: center;
    color: v.$text-color;
}

header {
    background: v.$primary-color;
    position: sticky;
    top: 0;
    color: white;
    padding: 20px 0;
    text-align: center;
    z-index: 10;
    
    h1 {
        margin: 0;
    }
}

@media (max-width: 768px) {
    body {
        padding: 3vh;
    }

    header h1 {
        font-size: 1.8rem;
    }

    #saved-trips {
        max-width: 90%;
    }

    .trip-entry {
        padding: 1rem;
        max-width: 100%;
    }

    button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .trip-entry {
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }

    img {
        width: 70%;
    }

    button {
        padding: 0.5rem 0.8rem;
        font-size: 0.85rem;
    }
}
