$primary-color: #22afe7;
$hover-color: rgb(0, 197, 204);
$danger-color: #dc3545;
$danger-hover: #c82333;
$background-color: #f5f5f5;
$text-color: #333;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 5px;

$base-font: 16px;
